html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}
.elements{
display: flex;
flex: 1;
}
.reverse{
display: flex;
flex-direction: row-reverse;
}
.column{
display: flex;
flex-direction: column;
}
.rev{
display: flex;
flex-direction: column-reverse;
}
article {
  padding: 10px;
  margin: 10px;
  background: rgba(16, 233, 215, 0.178);
}